<ion-header>
  <ion-toolbar>
    <ion-title>doctorList</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" color="light">  
      
      <ion-button size="large"color="primary" (click)="notifications()">  
        <ion-icon name="medkit-sharp"></ion-icon>Dr.Floyd
        <ion-badge color="dark" slot="end">4.9 </ion-badge>  
      </ion-button>  
    
  

    
      
      <ion-button size="large"color="primary" (click)="notify2()">  
        <ion-icon name="medkit-sharp"></ion-icon>Dr.Rao
        <ion-badge color="dark" slot="end">4.6 </ion-badge>  
      </ion-button>  
    </ion-content>  