<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CovidCare-Home:)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/homeBack.jpg" alt="covidlogo">
      <ion-card-title>Welcome to CovidCare</ion-card-title>
      <ion-card-subtitle>Stay Home & Stay Safe</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here you will be able to fix your appointments at the comfort of your home.
    </ion-card-content>
  </ion-card>
  <ion-button (click)="FixAppoinment()">Fix an Appointment</ion-button>
</ion-content>